<%
  let data, index, dateTime;
  let selectData = (path == 'press-release') ? spaceKidsMediaRoomData.pressRelease : (path == 'news') ? spaceKidsMediaRoomData.news : spaceKidsMediaRoomData.PrArchive
  
  for (let i = 0; i < selectData.length; i++) {
    if (parseInt(selectData[i].id) === locals.id) {
      data = selectData[i];
      dateTime = selectData[i].date.replaceAll('.','-')
      index = i;
      break;
    }
  }
%>

<main class="media-room-detail" data-category="<%= data.category %>">
  <article class="detail-page" data-table-id="<%= data.id %>">
    <strong class="item-category"><%= data.category %></strong>
    <h2 class="item-title"><%= data.title %></h2>
    <time class="item-date" datetime="<%= dateTime %>"><%= data.date %></time>
    <div class="item-desc">
      <% if (data.desc) { %>
        <% for (let i = 0; i < selectData[index].desc.length; i ++) { %>
        <%- selectData[index].desc[i] %>
        <% } %>
      <% } else { %>
        내용 없음
      <% } %>
    </div>
  </article>
  <div class="detail-bottom">
    <% if (selectData[index - 1]) { %>
      <a href="/space-kids/media-room/<%= path %>/<%= selectData[index - 1].id %>/" class="page-move prev-btn">
        <span>이전글</span>
        <strong><%= selectData[index - 1].title %></strong>
      </a>
    <% } else { %>
      <p class="page-move prev-btn page-empty"><span>이전글</span> <strong>이전글이 없습니다.</strong></p>
    <% } %>
    <% if (selectData[index + 1]) { %>
      <a href="/space-kids/media-room/<%= path %>/<%= selectData[index + 1].id %>/" class="page-move next-btn">
        <span>다음글</span>
        <strong><%= selectData[index + 1].title %></strong>
      </a>
    <% } else { %>
      <p class="page-move page-empty"><span>다음글</span> <strong>다음글이 없습니다.</strong></p>
    <% } %>
    <a href="/space-kids/media-room/" class="list-btn">목록으로</a>
  </div>
</main>